footer {
	margin-top:  72px; 
	width:  100%; 
	padding-left:  144px; 
	padding-right: 144px; 
	padding-top:    36px; 
	padding-bottom: 72px; 
	display:  			flex; 
	flex-direction:  	row; 
	align-items:  		flex-start; 
	justify-content:    space-between; 
	background:  #424242; 
		h1 {
			color:  #ffffff; 
		}
	.partners-container {
		display:  flex; 
		flex-direction:  column; 

		align-items:  flex-start; 
		justify-content:  flex-start; 
		a {
			margin-bottom:  48px; 
		}
		img {
			max-width:  320px; 
		}
	}
 	.sitemap {
 		display: flex; 
 		flex-direction:  column; 
 		align-items:  flex-end; 	

		hr {
			border-top: solid 1px #757575; 
			width:  440px; 
			margin:  0 0; 
		}	


 	}
	.link-container {
		display:  flex; 
		flex-direction:  row; 
		align-items:  flex-start; 
		justify-content:  flex-end; 
		flex-wrap:  wrap; 
		width:  100%; 
		max-width:  320px;
		border-left: solid 1px #757575; 
		a {
			width:  50%; 
			padding-left:  18px; 
			text-align:  right;
			margin-top:  24px; 
			text-transform:  uppercase; 
			color:  #ffffff; 
			font-weight:  bold; 
		}
	}
}